/* _content/Photocopy.UI/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-nahxot6spl] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-nahxot6spl] {
  color: #0077cc;
}

.btn-primary[b-nahxot6spl] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-nahxot6spl], .nav-pills .show > .nav-link[b-nahxot6spl] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-nahxot6spl] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-nahxot6spl] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-nahxot6spl] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-nahxot6spl] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-nahxot6spl] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/Photocopy.UI/Views/Shared/_LayoutCms.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-itt5ogo22a] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-itt5ogo22a] {
  color: #0077cc;
}

.btn-primary[b-itt5ogo22a] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-itt5ogo22a], .nav-pills .show > .nav-link[b-itt5ogo22a] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-itt5ogo22a] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-itt5ogo22a] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-itt5ogo22a] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-itt5ogo22a] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-itt5ogo22a] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/Photocopy.UI/Views/_CMS/Shared/_Layout - Copy.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-lbr6j6bai4] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-lbr6j6bai4] {
  color: #0077cc;
}

.btn-primary[b-lbr6j6bai4] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-lbr6j6bai4], .nav-pills .show > .nav-link[b-lbr6j6bai4] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-lbr6j6bai4] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-lbr6j6bai4] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-lbr6j6bai4] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-lbr6j6bai4] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-lbr6j6bai4] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/Photocopy.UI/Views/_CMS/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-0k7x8gd6k8] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-0k7x8gd6k8] {
  color: #0077cc;
}

.btn-primary[b-0k7x8gd6k8] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-0k7x8gd6k8], .nav-pills .show > .nav-link[b-0k7x8gd6k8] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-0k7x8gd6k8] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-0k7x8gd6k8] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-0k7x8gd6k8] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-0k7x8gd6k8] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-0k7x8gd6k8] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
