@model IList<Photocopy.Entities.Dto.SliderDto>

@{
    ViewData["Title"] = "İçerik Sayfası Listesi";
    Layout = "_LayoutCms";
}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-special">
                            <span class="card-title ">Slider Listesi</span>

                        <a href="/cms/Slider?sliderId=" class="btn btn-info pull-right btn-sm">Slider Oluştur</a>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-info">
                                <th>
                                    ID
                                </th>
                                <th>
                                   Slider Adı
                                </th>
                                <th class="td-actions text-right">
                                    İşlemler
                                </th>

                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.Id</td>
                                            <td>@item.Name</td>
                                            <td class="td-actions text-right">
                                                <a href="/cms/Slider?sliderId=@item.Id" rel="tooltip" title="Edit Task" class="btn btn-info btn-link btn-sm">
                                                        <i class="material-icons">edit</i>
                                                    </a>
                                                <form >
                                                    <button rel="tooltip" title="Remove" class="btn btn-warning btn-link btn-sm delete" data-sliderId="@item.Id">
                                                    <i class="material-icons">delete</i>
                                                </button>
                                                </form>
                                                
                                            </td>
                                        </tr>
                                    }

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal Delete data-bs-toggle="modal" data-bs-target="#deleteModal"-->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="/cms/DeleteSlider" method="post">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Sil</h5>
                    <input type="hidden" id="sliderId" name="sliderId" value="" />

                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Silmek İstediğinize Emin misiniz?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Vazgeç</button>
                    <button type="submit" class="btn btn-primary">Sil</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section scripts
    {
    <script>
        $('form .delete').click(function (e) {
            e.preventDefault();

            $("#sliderId").val($(this).attr("data-sliderId"));


            $('#deleteModal').modal({
                show: true
            });
        });
    </script>
}